{% extends "@ArtdeveloppUser/layout.html.twig" %}

{% block artdevelopp_user_title %}
Modifier mon compte
{% endblock %}

{% block artdevelopp_user_content %}
<h1 class="text-center"> Modifier mon compte </h1>

<div class="container">
    <p>
        {% if is_granted('ROLE_ADMIN') %}
        <a href="{{path('artdevelopp_user.admin-manage-user')}}"> <i class="fas fa-arrow-circle-left"></i>
            Retour à la gestion des utilisateurs
        </a>
        {% else %}
        <a href="{{path('artdevelopp_user.manage-user', {'userId': userId})}}"> <i class="fas fa-arrow-circle-left"></i>
            Retour aux informations de mon compte</a>
        {% endif %}
    </p>

    {% include "@ArtdeveloppUser/messageTemplate/flashBag.html.twig" %}

    {{form(form)}}
</div>
{% endblock %}