{% extends "base.html.twig" %}

{% block title %}
Modifier mon compte - {{parent()}}
{% endblock title %}

{% block body %}
<h1 class="text-center"> Modifier mon compte </h1>

<div class="container">
    <p>
        {% if is_granted('ROLE_ADMIN') %}
        <a href="{{path('artdevelopp_user.admin-manage-user')}}"> <i class="fas fa-arrow-circle-left"></i>
            Retour à la gestion des utilisateurs
        </a>
        {% else %}
        <a href="{{path('artdevelopp_user.manage-user', {'userId': userId})}}"> <i class="fas fa-arrow-circle-left"></i>
            Retour aux informations de mon compte</a>
        {% endif %}
    </p>

    {% include "@artdevelopp_user_bundle/messageTemplate/flashBag.html.twig" %}

    {{form(form)}}
</div>
{% endblock body %}