{% extends '@ArtdeveloppUser/layout.html.twig' %}

{% block artdevelopp_user_title %}
Connexion
{% endblock %}

{% block artdevelopp_user_content %}

{% include "@ArtdeveloppUser/security/login_content.html.twig" %}

<div class="text-center">
    {% if user_register %}
    <a href="{{path('artdevelopp_user.new')}}">S'inscrire</a> |
    {% endif %}
    <a href="{{path('artdevelopp_user.forget_password')}}">Mot de passe oublié </a>
</div>
{% endblock %}