{% extends 'base.html.twig' %}

{% block title %}
    Nouveau mot de passe - {{parent()}}
{% endblock %}

{% block body %}
    <h1 class="text-center">Réinitialisation du mot de passe</h1>
    <p class="text-center"> Veuillez entrez votre nouveau mot de passe ci-dessous</p>
    
    <form method="post" class="container">
    <div class="form-group">
        <label for="inputPassword">Mot de passe : </label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
    </div>
        <input type="hidden" name="token" value="{{token}}">

        <button type="submit" class="btn btn-primary" id="valider">
            Modifier mon mot de passe
        </button>
    </form>
{% endblock %}