{% extends '@ArtdeveloppUser/layout.html.twig' %}

{% block artdevelopp_user_title %}

Mot de passe oublié

{% endblock %}

{% block artdevelopp_user_content %}
<h1 class="text-center">Mot de passe oublié</h1>

<div class="container">
    <p> <a href="{{path('artdevelopp_user.login')}}"> <i class="fas fa-arrow-circle-left"></i> Retour à la page de
            connexion</a></p>
    {{form(emailForm)}}
</div>
{% endblock %}