{% extends '@ArtdeveloppUser/layout.html.twig' %}

{% block artdevelopp_user_title %}
Nouveau mot de passe
{% endblock %}

{% block artdevelopp_user_content %}
<h1 class="text-center">Réinitialisation du mot de passe</h1>
<p class="text-center"> Veuillez entrez votre nouveau mot de passe ci-dessous</p>

{% include "@ArtdeveloppUser/resetPassword/reset_password_form.html.twig" %}
{% endblock %}