{% trans_default_domain 'ArtdeveloppUserBundle' %}

<form method="post" class="container">
    <div class="form-group">
        <label for="inputPassword">Mot de passe : </label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe"
            required>
    </div>
    <input type="hidden" name="token" value="{{token}}">

    <button type="submit" class="btn btn-primary" id="valider">
        Modifier mon mot de passe
    </button>
</form>