{% extends '@ArtdeveloppUser/layout.html.twig' %}

{% block artdevelopp_user_title %}
Inscription
{% endblock %}

{% block artdevelopp_user_content %}
<div class="container">
    <p>
        {% if is_granted('ROLE_ADMIN') %}
        <a href="{{path('artdevelopp_user.admin-manage-user')}}"> <i class="fas fa-arrow-circle-left"></i>
            Retour à la gestion des utilisateurs
        </a>
        {% else %}
        <a href="{{path('artdevelopp_user.login')}}"> <i class="fas fa-arrow-circle-left"></i>
            Retour à la page de connexion
        </a>
        {% endif %}
    </p>
    {{form(form)}}
</div>
{% endblock %}