<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demande nouveau mot de passe</title>
</head>

<body>
    <h1> Demande de nouveau mot de passe</h1>
    <p> Vous avez demandé un nouveau mot de passe, veuillez cliquer ici pour le changer </p>
    <p><a href="{{urlResetPassword}}" target="_blank"> Changer mon mot de passe </a></p>
</body>

</html>